#root {
	max-width: 550px;
	margin: 0 auto;
	text-align: center;
	margin-top: 1rem;
	padding: 1.5em;
	border-radius: 5px;
	background: #f5f7fb;
	font-family: 'Karla', sans-serif;
	color: #293264;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid pink;
}

h1,
h2 {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1rem;
	font-weight: 500;
	margin-bottom: 1.5em;
}

.main {
	width: 100%;
	min-height: 550px;
	display: grid;
	place-items: center;
	align-content: center;
}

.start-btn,
.check-btn,
.play-btn {
	background-color: #4d5b9e;
	color: #f5f7fb;
	border: none;
	border-radius: 10px;
	padding: 0.8em 1.5em;
	outline: none;
	font-family: inherit;
	font-size: 1rem;
	cursor: pointer;
}

.start-btn:hover,
.check-btn:hover,
.play-btn:hover {
	opacity: 0.95;
}

/* Quiz component */
.quiz-question {
	font-weight: 600;
	border-bottom: 1px solid #c5cbec;
	padding-bottom: 0.5em;
}

.question {
	font-size: 0.875rem;
	margin: 0.5em;
}

.radio-input {
	display: inline;
}

.multiple-choice {
	border: none;
	outline: none;
}

input[type='radio'] {
	display: none;
}

.multiple-choice label {
	display: inline-block;
	padding: 0 1em;
	margin: 0.5em 0.5em;
	border: 1px solid #4d5b9e;
	border-radius: 10px;
	color: #293264;
	cursor: pointer;
	font-size: 0.875rem;
}

input[type='radio']:checked + label {
	background-color: #d6dbf5;
	border: 1px solid #d6dbf5;
}

/* D6DBF5, 293264*/

.multiple-choice label:hover,
.multiple-choice label:active,
.multiple-choice label:focus {
	background-color: #d6dbf5;
	border: 1px solid #d6dbf5;
}

.check-btn {
	margin-top: 1.5em;
	font-size: 0.875rem;
}

.result-section {
	margin-top: 1.5em;
}

.result-section h2 {
	font-size: 1.2rem;
	margin-bottom: 0.5em;
	font-weight: 600;
}

.play-btn {
	font-size: 0.875rem;
}

.check-section.hidden {
	display: none;
}

.result-section.hidden {
	display: none;
}
